[submodule "storage-universal_windows-Win32-Debug"]
	path = storage-universal_windows-Win32-Debug
	url = ../storage-universal_windows-Win32-Debug
[submodule "Debug"]
	path = Debug
	url = ../storage-universal_windows-Win32-Debug
[submodule "storage-universal_windows-Win32-Release"]
	path = storage-universal_windows-Win32-Release
	url = ../storage-universal_windows-Win32-Release
[submodule "Release"]
	path = Release
	url = ../storage-universal_windows-Win32-Release
[submodule "StaticDebug"]
	path = StaticDebug
	url = ../storage-universal_windows-Win32-StaticDebug
[submodule "StaticRelease"]
	path = StaticRelease
	url = ../storage-universal_windows-Win32-StaticRelease
