[submodule "Debug"]
	path = Debug
	url = ../storage-universal_windows-Win32-Debug
	branch = main
[submodule "Release"]
	path = Release
	url = ../storage-universal_windows-Win32-Release
	branch = main
[submodule "StaticDebug"]
	path = StaticDebug
	url = ../storage-universal_windows-Win32-StaticDebug
	branch = main
[submodule "StaticRelease"]
	path = StaticRelease
	url = ../storage-universal_windows-Win32-StaticRelease
	branch = main
